<div class="col-xs-3 col-height col-middle">
  <div class="inside">
     <div class="content">
        <button class="btn btn-success btn-lg negative-r-margin fuck">
          <div class="text"></div>
        </button>
     </div>
  </div>
</div>
<div class="col-xs-3">
  <ng-content></ng-content>
</div>
<div class="col-xs-3 col-height col-middle">
  <div class="inside">
     <div class="content">
        <button class="btn btn-warning btn-lg negative-r-margin fuck"></button>
     </div>
  </div>
</div>
<div class="col-xs-3 col-height col-middle">
  <div class="inside">
     <div class="content">
        <button class="btn btn-danger btn-lg negative-r-margin fuck"></button>
     </div>
  </div>
</div>
