
  <div class="row">
      <div class="row-height">
        <div class="col-xs-2 col-height col-middle">
          <div class="inside">
            <div class="content">
              <button class="btn btn-success btn-lg negative-r-margin fuck">+</button>
            </div>
          </div>
        </div>
        <!--pie chart-->
        <div class="col-xs-6 col-height col-middle nopadding">
          <div class="inside">
            <div class="content">
              <chart [data]="dataOverall" type="doughnut" [options]="options"></chart>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-height col-middle nopadding">
          <div class="inside">
            <div class="content">
              <button class="btn btn-failure btn-lg col-xs-2">-</button>
              <button class="btn btn-warning btn-lg col-xs-2">~</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!--variations data-->
  <div *ngFor="let trickVariation of trickData.variations">
    <div class="row">
      <div class="col-xs-8">
        <h2>{{trickVariation}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="row-height">
        <div class="col-xs-2 col-height col-middle">
          <div class="inside">
            <div class="content">
              <button class="btn btn-success btn-lg fuck">+</button>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-height col-middle nopadding">
          <div class="inside">
            <div class="content">
              <chart [data]="dataOfvariations[trickVariation]" type="doughnut" [options]="options"></chart>
            </div>
          </div>
        </div>

        <div class="col-xs-4 col-height col-middle nopadding">
          <div class="inside">
            <div class="content">
              <button class="btn btn-failure btn-lg col-xs-2">-</button>
              <button class="btn btn-warning btn-lg col-xs-2">~</button>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>






